@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root{
  --azulOscuro: #04080f;
  --azulPrincipal: #1649FF;
  --azulSecundario:  #507dbc;
  --azulTercero: #a1c6ea;
  --azulMuyClaro: #bbd1ea;
  --grisMasOscuro: #b0b0b0;
  --grisBasico: #dae3e5;
  --blancoTotal: #FFFFFF;
  --negroTotal: #000;
}